@mixin setBackground($bg, $color) {
    background-color: $bg;
    color: $color;
    a, p, label, span, i, li, h2, h3 {
        color: $color;
    }

    button {
        background-color: $bg;
    }

    svg {
        fill: $color;
    }
}

@mixin buttonOutline($color) {
    background-color: $background-app;
    color: $color;
    border: solid 2px $color;
}