// Colors
// Basic colors
$primary: #2978b5;
$secondary: #4ca1a3;
$white: #fff;
$link: #51c4d3;
$violet: #851486;
$dark-grey: #363636;
$light-grey: #d8d8d8;

//Backgrounds
$background-app: #f5f5f7;
$background-login: #f5f5f7;
$background-signup: #f5f5f7;
$bg-card: #fff;


// Alert colors
$success: #4ca1a3;
$warning: #5C62C5;
$danger: #b71540;
$info: $primary;
$bg-button-google: $white;
$button-active-google: whitesmoke;

// Shadows
$shadow-sm: -2px 4px 5px 0px #e8e8e8;
$tw-shadow: 0 4px 6px -1px rgba(0,0,0,0.1),0 2px 4px -1px rgba(0,0,0,0.06);
$box-shadow-ck-x: 8px;
$box-shadow-ck-y: 8px;
//Text colors
$text-white: white;
$text-success: #000;
$text-warning: white;
$text-danger: #B61440;
$text-info: white;
$text-primary-color: white; 
$text-secondary-color: white; 